body {
 background-image: url('/3.png');
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.pinfo{
    text-align: center;
    color: whitesmoke;
}

.form{
    text-align: center;
}

.tabledata{
    height: 20px;
    position: relative;
    border: 3px;
}


.button{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: gray;
    border-radius: 5px;
    color: white;
}

.bcontainer{
    height: 20px;
    position: relative;
    border: 3px;
}

.bcenter{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: gray;
    border-radius: 5px;
    color: white;
}

.button:hover{
    color: aqua;
}

